name: Android CI

on:
  push:
    branches: [ master ]
#  pull_request:
#    branches: [ master ]

jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2.14.3
        with:
          api-level: 24
          script: avdmanager list # gradle connectedCheck --stacktrace

  build:

    runs-on: ubuntu-18.04
    needs: test
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build debug APK
      env:
        KEYSTOREPASSPHRASE: "${{ secrets.KEYSTOREPASSPHRASE }}"
        KEYSTOREPASSWORD: "${{ secrets.KEYSTOREPASSWORD }}"
        ALIAS: "${{ secrets.ALIAS }}"
        KEYPASSWORD: "${{ secrets.KEYPASSWORD }}"
      run: |
        echo "${{ secrets.KEYSTORE }}" > keystore.jks.asc
        sh build.sh
    - name: Upload APK
      uses: actions/upload-artifact@v1
      with:
        name: Badminton-Umpire-Helper.apk
        path: app/build/outputs/apk/release/app-release.apk
    - name: Push to Publication Branch
      run: |
        sh publish.sh
